@page
@model AuthRazor.Basic.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<textarea asp-for="Message" class="text-danger text-center w-full" style="background-color: #00c6fb"
          rows="1" cols="65" readonly="readonly">
</textarea>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="ReturnUrl" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

